# Projeto Técnicas de programação I

## Análise exploratória de dados/Pandas

Nomes: Ilmen Emmanuel Nino Neto

Turma: 892

Nesse projeto trabalharemos com dados fictícios de investidores.

São 3 arquivos que devem ser carregados para responder as perguntas abaixo.

Para a entrega, coloque o notebook respondido no seu github (um por pessoa)!

Informações

Cadastro:
- **id** : Identificação do investidor
- **Nome** : Nome completo do investidor 
- **Sexo** : Feminino ou masculino
- **Nasc** : Data de nascimento
- **Idade** : Idade do investidor 
- **Email** : E-mail do investidor
- **Lat_long** : Dados geográficos do investidor
- **Job** : Profisão do investidor ou do seu responsável (em inglês)
- **Estado** : Estado onde o investidor reside

Investimento:
- **id** : Identificação do investidor
- **Salario** : Renda do investidor ou seu responsável
- **Perfil** : Perfil de investimento
- **Ativo01, Ativo02, Ativo03, Ativo04, Ativo05, Ativo06, Ativo07** : O quanto de dinheiro o investidor colocou em cada ativo
- **Nota1, Nota2** : O quanto o investidor está satisfeito com nossa empresa (2 avaliações)

Lembrando que esses dados são irreais e fictícios

Arquivo cadastro.csv


Arquivo investimento.csv (dividido em 2 partes)

### Critérios de avaliação

Os seguintes itens serão avaliados:

1. Reprodutibilidade do código: seu código será executado e precisa gerar os mesmos resultados apresentados por você;

2. Clareza: seu código precisa ser claro e deve existir uma linha de raciocínio direta. Comente o código em pontos que julgar necessário para o entendimento total;

3. Explicação de todos os processos feitos e decisões tomadas

## Informações Gerais sobre o Projeto

- O projeto poderá ser desenvolvido __individualmente__ ou em __grupos com até 4 pessoas__, caos façam em grupos enviar a relação de alunos do grupo para o professor;


- Data de Entrega: 18/11/2022;

- Entrega: Através do _Class_

## 1 - Carregar os arquivos e cadastro, investimento1 e investimento2 e mostrar a quantidade de linhas de cada um, além das informações desses dataframes

In [43]:
#Importando a biblioteca que será utilizada
import pandas as pd

In [44]:
# Leitura de uma arquivo de formato csv
df_cadastro = pd.read_csv("cadastro.csv")
df_invest1 = pd.read_csv("investimento_parte1.csv")
df_invest2 = pd.read_csv("investimento_parte2.csv")
# Por identificar que o separador de colunas utilizado nos arquivos csv é o parâmetro padrão da propriedade (",") não será preciso passar esse parâmetro.

In [45]:
# A propriedade np.shape retorna o n°de linhas e colunas em uma tupla (linhas, colunas)
# Obter apenas a quantidade de linhas se usa slice com a posição das linhas [0]
print(f"A quantidade de linhas do dataframe cadastro é: {df_cadastro.shape[0]}.")
print(f"A quantidade de linhas do dataframe investimento pt 1 é: {df_invest1.shape[0]}.")
print(f"A quantidade de linhas do dataframe investimento pt 2 é : {df_invest2.shape[0]}.")

A quantidade de linhas do dataframe cadastro é: 38754.
A quantidade de linhas do dataframe investimento pt 1 é: 20000.
A quantidade de linhas do dataframe investimento pt 2 é : 24052.

In [46]:
# Obter informações do dataframe de cadastros:
print("Informações do dataframe de cadastros: ")
print("-"*37)
print(df_cadastro.dtypes) # tipos de dados para cada coluna 
print("Amostras:")
print("-"*37)
display(df_cadastro.sample(3)) # Retorna uma visualização de amostras de linhas do dataframe
print("Informações estatísticas de valores numéricos:")
print("-"*37)
# A propriedade describe retorna informações estatísticas do dataframe se houver colunas com dados do tipo int ou float
# count - total de linhas, mean - média, std - desvio padrão, min - valor mínimo, 25%, 50% e 75% - quartis, max - valor máximo.
print(df_cadastro.describe())
print("-"*37)

Informações do dataframe de cadastros:
-------------------------------------
id          object
Nome        object
Sexo        object
Nasc        object
Idade        int64
Email       object
Lat_long    object
Job         object
Estado      object
dtype: object
Amostras:
-------------------------------------

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado
25268,id0025269,Jaqueline Geyo de Sampaio,Fem,1997-06-26,24,monica70@hotmail.com,"(Decimal('-37.1334325'), Decimal('-32.268032'))",Education administrator,RO
23896,id0023897,Jair de Castro,Masc,2017-03-16,4,allison25@gmail.com,"(Decimal('12.6900105'), Decimal('-151.907461'))","Research officer, political party",DF
14623,id0014624,Maíra Gomes da Gama,Fem,2014-10-01,7,bwilson@hotmail.com,"(Decimal('36.245058'), Decimal('-70.538622'))",Oceanographer,AC

Informações estatísticas de valores numéricos:
-------------------------------------
              Idade
count  38754.000000
mean      25.716855
std       14.918449
min        0.000000
25%       13.000000
50%       26.000000
75%       39.000000
max       51.000000
-------------------------------------

In [47]:
# Obter informações do dataframe de investimento parte 1:
print("Informações do dataframe de investimento parte 1: ")
print("-"*37)
print(df_invest1.dtypes) 
print("Amostras:")
print("-"*37)
display(df_invest1.sample(3)) 
print("Informações estatísticas de valores numéricos:")
print("-"*37)
print(df_invest1.describe())
print("-"*37)

Informações do dataframe de investimento parte 1:
-------------------------------------
id          object
Salario     object
Perfil      object
Ativo01    float64
Ativo02    float64
Ativo03    float64
Ativo04    float64
Ativo05    float64
Ativo06    float64
Ativo07    float64
Nota1      float64
Nota2      float64
dtype: object
Amostras:
-------------------------------------

,id,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
11156,id0024232,$9667.49,Conservador,872.7,5230.96,NaN,15017.47,6973.57,NaN,507.19,97.382688,88.144908
6666,id0011708,$484.35,Conservador,1420.4,NaN,2583.21,20765.70,4614.93,2176.36,501.02,0.461063,76.028927
17986,id0005792,$1762.56,Agressivo,NaN,5963.86,2794.04,NaN,4879.53,NaN,495.76,49.044420,56.930861

Informações estatísticas de valores numéricos:
-------------------------------------
            Ativo01       Ativo02       Ativo03       Ativo04       Ativo05  \
count  15012.000000  16857.000000  16760.000000  13799.000000  16829.000000
mean    1125.757681   5148.243110   3139.165891  15136.440041   5281.172070
std      217.080495    398.701012    394.175941   6946.544888    792.562796
min      800.070000   4500.090000   2500.010000   5000.810000   4000.140000
25%      954.525000   4833.260000   2829.085000   9678.280000   4654.050000
50%     1093.145000   5107.230000   3096.020000  14070.350000   5197.220000
75%     1262.155000   5407.630000   3395.200000  19424.205000   5800.460000
max     2068.590000   6817.340000   5212.550000  47467.730000   9052.260000

           Ativo06       Ativo07         Nota1         Nota2
count  9895.000000  20000.000000  18469.000000  18954.000000
mean   2317.491907    500.093471     50.098208     50.174113
std     239.180603     10.012402     28.952396     28.832285
min    2000.040000    462.930000      0.003143      0.007864
25%    2127.395000    493.320000     25.020373     25.134177
50%    2270.870000    500.130000     50.119452     50.242237
75%    2455.335000    506.892500     75.238847     74.877627
max    3610.050000    542.050000     99.996659     99.991247
-------------------------------------

In [48]:
# Obter informações do dataframe de investimento parte 2:
print("Informações do dataframe de investimento parte 2: ")
print("-"*37)
print(df_invest2.dtypes) 
print("Amostras:")
print("-"*37)
display(df_invest2.sample(3)) 
print("Informações estatísticas de valores numéricos:")
print("-"*37)
print(df_invest2.describe())
print("-"*37)

Informações do dataframe de investimento parte 2:
-------------------------------------
id          object
Salario     object
Perfil      object
Ativo01    float64
Ativo02    float64
Ativo03    float64
Ativo04    float64
Ativo05    float64
Ativo06    float64
Ativo07    float64
Nota1      float64
Nota2      float64
dtype: object
Amostras:
-------------------------------------

,id,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
9211,id0006095,$53.28,Agressivo,1191.13,4530.50,3067.79,NaN,5423.58,NaN,505.36,56.664271,54.869322
3139,id0009268,$9405.47,Moderado,NaN,4991.49,2886.45,NaN,4554.50,2375.38,505.40,97.760462,27.907798
11504,id0031974,$285.48,Conservador,1368.87,NaN,NaN,13282.79,5039.74,2325.76,500.40,36.530101,16.352482

Informações estatísticas de valores numéricos:
-------------------------------------
            Ativo01       Ativo02       Ativo03       Ativo04       Ativo05  \
count  17994.000000  20245.000000  20249.000000  16685.000000  20211.000000
mean    1129.080980   5146.837462   3141.053559  15163.012785   5286.059975
std      219.747037    398.977137    396.580165   6993.738051    796.892363
min      800.010000   4500.050000   2500.010000   5000.930000   4000.250000
25%      955.027500   4831.890000   2827.840000   9621.090000   4654.300000
50%     1096.395000   5101.630000   3097.070000  14090.430000   5199.610000
75%     1269.760000   5409.750000   3403.260000  19517.340000   5805.705000
max     2143.050000   6990.260000   4899.990000  48744.740000   9052.260000

            Ativo06       Ativo07         Nota1         Nota2
count  11932.000000  24052.000000  22172.000000  22810.000000
mean    2320.358866    500.019744     49.654722     49.973616
std      241.972481      9.977632     28.913037     28.935261
min     2000.040000    462.930000      0.003143      0.003341
25%     2128.885000    493.260000     24.767894     25.015850
50%     2270.135000    500.120000     49.198346     49.747230
75%     2464.085000    506.760000     74.880010     75.164789
max     3639.650000    542.300000     99.991343     99.999535
-------------------------------------

In [49]:
# Por fim obter informações das colunas 
print(f"A quantidade de colunas do dataframe cadastro é: {df_cadastro.shape[1]}.")
print(f"A quantidade de colunas do dataframe investimento pt 1 é: {df_invest1.shape[1]}.")
print(f"A quantidade de colunas do dataframe investimento pt 2 é : {df_invest2.shape[1]}.")

A quantidade de colunas do dataframe cadastro é: 9.
A quantidade de colunas do dataframe investimento pt 1 é: 12.
A quantidade de colunas do dataframe investimento pt 2 é : 12.

## 2 - Juntar os dataframes de investimento1 e investimento2 em um só e ver a quantidade de linhas

In [50]:
df_invest = pd.concat([df_invest1,df_invest2],axis=0) #Concatena os dataframes levando em consideração o parâmetro axis = 0 para linhas e 1 para colunas.
print(f" A quantidade de linhas do dataframe concatenado é : {df_invest.shape[0]}.")

 A quantidade de linhas do dataframe concatenado é : 44052.

## 3 - Crie um novo dataframe eliminando as linhas duplicadas

In [51]:
df_invest_unico = df_invest.drop_duplicates() #drop_duplicates identifica linhas com valores duplicados e remove
print(f"Foram removidas {df_invest.shape[0] - df_invest_unico.shape[0]} linhas duplicadas. Restando {df_invest_unico.shape[0]} linhas únicas.")

Foram removidas 5298 linhas duplicadas. Restando 38754 linhas únicas.

## 4 - Junte o dataframe de investimento com o de cadastro
Dica: use a chave id

In [52]:
#Os dois dataframes compartilham a coluna id, então deverão ser mescladas por essa chave em comum
from copy import deepcopy #Criar um espaço de armazenamento distinto para variável para que ao alterar-la não altere todas as variáveis que tiverem ponteiro para ela
df = deepcopy(df_invest_unico)
df = df.merge(df_cadastro, how="inner", on="id")
print(f"O documento resultante do cruzamentro tem {df.shape[0]} linhas e {df.shape[1]} colunas")

O documento resultante do cruzamentro tem 38754 linhas e 20 colunas

## 5 - Ordene o dataframe pelo id, de forma crescente e redefina o índice

In [53]:
df = df.sort_values("id", ascending=True ).reset_index(drop=True)
display(df.head(3))
display(df.tail(3))

,id,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado
0,id0000001,$63.67,Moderado,1174.27,4980.98,2638.24,NaN,4480.91,2329.72,480.72,79.600372,9.802620,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO
1,id0000002,$21.96,Moderado,842.12,5646.09,3336.07,NaN,5624.22,2669.98,504.17,44.406893,90.512871,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF
2,id0000003,$62497.64,Agressivo,818.81,5516.52,3396.64,NaN,5033.83,2229.45,523.12,44.020024,65.060941,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF

,id,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado
38751,id0038752,$32.41,Agressivo,1163.90,4911.63,3746.62,NaN,6733.79,2338.43,504.32,32.13961,22.742974,Severino Edson de Viana Loase,Masc,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR
38752,id0038753,$914.52,Conservador,NaN,5532.35,2861.32,NaN,4921.77,2024.00,500.65,98.38508,56.611838,Kim Mooshi,Masc,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ
38753,id0038754,$29076.19,Moderado,981.62,4825.10,NaN,18085.88,5161.07,2257.66,507.95,29.66005,47.371606,Vinícius Arnaldo de Pereira Mendes,Masc,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL

## 6 - Faça uma análise dos dados faltantes e trate-os

Mostre todas as colunas com dados faltantes, sua quantidade/porcentagem e como tratar (preencher) cada uma delas explicando sua estratégia

In [54]:
print(df.isnull().sum()) # Este método avalia todas as colunas com valores nulos e faz a soma das linhas nulas para cada coluna

id              0
Salario         0
Perfil          0
Ativo01      9724
Ativo02      6100
Ativo03      6169
Ativo04     11887
Ativo05      6191
Ativo06     19514
Ativo07         0
Nota1        3000
Nota2        2000
Nome            0
Sexo            0
Nasc            0
Idade           0
Email           0
Lat_long        0
Job             0
Estado          0
dtype: int64

In [55]:
print((df.isnull().sum() / df.shape[0])*100)

id           0.000000
Salario      0.000000
Perfil       0.000000
Ativo01     25.091603
Ativo02     15.740311
Ativo03     15.918357
Ativo04     30.672963
Ativo05     15.975125
Ativo06     50.353512
Ativo07      0.000000
Nota1        7.741136
Nota2        5.160758
Nome         0.000000
Sexo         0.000000
Nasc         0.000000
Idade        0.000000
Email        0.000000
Lat_long     0.000000
Job          0.000000
Estado       0.000000
dtype: float64

In [56]:
#Para as notas exclusivamente será substituida pela média 
#Considerando uma substituição de valores nulos por zero para ativos 
df['Nota1'].fillna(df['Nota1'].mean(), inplace=True)
df['Nota2'].fillna(df['Nota2'].mean(), inplace=True)
df.fillna(0, inplace=True)
print(df.isnull().sum()) # Por fim é identificado que não sobrou nenhum valor nulo

id          0
Salario     0
Perfil      0
Ativo01     0
Ativo02     0
Ativo03     0
Ativo04     0
Ativo05     0
Ativo06     0
Ativo07     0
Nota1       0
Nota2       0
Nome        0
Sexo        0
Nasc        0
Idade       0
Email       0
Lat_long    0
Job         0
Estado      0
dtype: int64

## 7 - Manipule os dados a seguir:
- Criar coluna "Total" somando o valor de todos os ativos por investidor
- Criar coluna "Media" com a média das notas 1 e 2
- Criar coluna "Dominio" com apenas o domínio do email (dica: separar por @)
- Mudar o nome da coluna "Salário" para "Renda" e tratar a coluna (sem caracter $ e tipo numérica)
- Mudar os dados da coluna "Sexo" para Masculino e Feminino (tente usar o map)
- Transformar os dados da coluna Media em inteiro
- Criar coluna "NPS" onde o investidor é promotor se a média das notas é maior igual a 80, neutro se a média estiver entre 50 e 80, e detrator se for abaixo de 50

In [57]:
#Criar coluna "Total" somando o valor de todos os ativos por investidor
df_manipulado = deepcopy(df)
df_manipulado["Total"] = df_manipulado.iloc[:,-19:-11].sum(axis=1)

C:\Users\Ilmen\AppData\Local\Temp\ipykernel_10684\4211241979.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_manipulado["Total"] = df_manipulado.iloc[:,-19:-11].sum(axis=1)

In [58]:
#Criar coluna "Media" com a média das notas 1 e 2
df_manipulado["Média"] = df_manipulado[["Nota1","Nota2"]].mean(axis=1)

In [59]:
#Criar coluna "Dominio" com apenas o domínio do email (dica: separar por @)
df_manipulado["Domínio"] = df_manipulado["Email"].str.split("@").str[1]

In [60]:
#Mudar o nome da coluna "Salário" para "Renda" e tratar a coluna (sem caracter $ e tipo numérica)
df_manipulado = df_manipulado.rename(columns= {"Salario": "Renda"}, inplace=True)
df_manipulado["Renda"] = df_manipulado["Renda"].str.replace("$","")
df_manipulado["Renda"] = df_manipulado["Renda"].astype("float")

TypeError: 'NoneType' object is not subscriptable

In [ ]:
#Mudar os dados da coluna "Sexo" para Masculino e Feminino (tente usar o map)
df_manipulado["Sexo"] = df_manipulado["Sexo"].map({"Fem": "Femino", "Masc": "Masculino"})

In [ ]:
#Transformar os dados da coluna Media em inteiro
df_manipulado["Média"] = df_manipulado["Média"].astype("int")

In [ ]:
#Criar coluna "NPS" onde o investidor é promotor se a média das notas é maior igual a 80, neutro se a média estiver entre 50 e 80, e detrator se for abaixo de 50
def filtro(media):
    if media >= 80: 
        return "promotor"
    elif media >= 50: 
        return "neutro" 
    else:
        return "detrador"

df_manipulado["NPS"] = df_manipulado["Média"].apply(filtro)

## 8 - Calcule os seguintes dados
- Calcule o total investido em cada coluna Ativo (tente usar o apply)
- Qual o menor valor investido em cada ativo?
- Mostre a média e desvio padrão de cada ativo
- Qual a idade do investidor mais velho?
- Qual a mediana da coluna Média?

In [ ]:

ativos = ["Ativo01", "Ativo02", "Ativo03", "Ativo04", "Ativo05", "Ativo06", "Ativo07"]
df_manipulado[ativos].sum(axis=0)

Ativo01    3.275569e+07
Ativo02    1.680798e+08
Ativo03    1.023306e+08
Ativo04    4.071340e+08
Ativo05    1.720668e+08
Ativo06    4.462684e+07
Ativo07    1.937903e+07
dtype: float64

In [ ]:
#Qual o menor valor investido em cada ativo?
menor_investimento = df_manipulado[ativos] > 0 #Só é considerado investimento se houver um valor
df_manipulado[ativos][menor_investimento].min()

Ativo01     800.01
Ativo02    4500.05
Ativo03    2500.01
Ativo04    5000.81
Ativo05    4000.14
Ativo06    2000.04
Ativo07     462.93
dtype: float64

In [ ]:
df_manipulado.describe() #Idade

,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Idade,Total,Média
count,38754.000000,38754.000000,38754.000000,38754.000000,38754.000000,38754.000000,38754.000000,38754.000000,38754.000000,38754.000000,38754.000000,38754.000000
mean,845.220878,4337.095701,2640.515840,10505.598580,4439.975773,1151.541631,500.052452,49.821094,50.075481,25.716855,23919.948401,49.446302
std,524.568525,1909.955896,1204.864694,9084.714705,2068.665605,1172.059182,9.998218,27.758707,28.108756,14.918449,9674.707187,19.754188
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,462.930000,0.003143,0.003341,0.000000,0.000000,0.000000
25%,0.000000,4667.827500,2663.370000,0.000000,4320.465000,0.000000,493.300000,26.971102,26.504424,13.000000,15967.427500,35.000000
50%,999.165000,5003.595000,2995.925000,10138.740000,4997.265000,0.000000,500.130000,49.821094,50.075481,26.000000,23567.610000,49.000000
75%,1203.490000,5343.565000,3333.727500,16780.967500,5672.972500,2268.810000,506.830000,72.802601,73.598837,39.000000,30571.532500,64.000000
max,2143.050000,6990.260000,5212.550000,48744.740000,9052.260000,3639.650000,542.300000,99.996659,99.999535,51.000000,64390.270000,99.000000

## 9 - Responder as perguntas abaixo

- Quantos investidores são promotores?
- Quantos investidores são do sexo feminino?
- Quantos investidores investiram mais de 16000 no Ativo04?
- Quantos investidores investiram mais de 16000 no Ativo04 e menos de 5000 no Ativo05?
- Quantos investidores do sexo feminino tem mais de 25 anos e investiu menos de 10000? (bonus: por que esse dado seria importante para a estratégia da nossa empresa?

- Quantos investidores tem em cada estado (dica: use groupby)
- Qual é a soma do total investido por cada estado?
- Como os investidores se distribuem em promotores, detratores e neutros?
- Qual é a média do total investido por promotores, detratores e neutros?

In [ ]:
#Quantos investidores são promotores?
print(f"{(df_manipulado['NPS'] == 'promotor').sum()}")
#Quantos investidores são do sexo feminino?
print(f"{(df_manipulado['Sexo'] == 'Feminino').sum()}")
#Quantos investidores investiram mais de 16000 no Ativo04?
print(f"{(df_manipulado['Ativo04'] > 16000).sum()}")
#Quantos investidores investiram mais de 16000 no Ativo04 e menos de 5000 no Ativo05?
print(f"""{((df_manipulado['Ativo04'] > 16000) & (df_manipulado['Ativo05'] < 5000)).sum()}""")
#Quantos investidores do sexo feminino tem mais de 25 anos e investiu menos de 10000? (bonus: por que esse dado seria importante para a estratégia da nossa empresa?
potenciais_investidores = \
    ((df_manipulado['Total'] < 10000) & \
    (df_manipulado['Sexo'] == 'Feminino') & \
    (df_manipulado["Idade"] >25)).sum() 
print(f"""{potenciais_investidores} """)
#Quantos investidores tem em cada estado (dica: use groupby)
display(df_manipulado.groupby(['Estado'])['id'].count())
#Qual é a soma do total investido por cada estado?
display(df_manipulado.groupby(['NPS'])['id'].count())

display(df_manipulado.groupby(['NPS'])['Total'].mean())

grouped_single = df_manipulado.groupby('NPS').agg({'id':'count', 'Total': 'mean'})

print(grouped_single)

2703
0
10689
5374
0

Estado
AC    1435
AL    1376
AM    1495
AP    1438
BA    1484
CE    1465
DF    1470
ES    1472
GO    1394
MA    1454
MG    1407
MS    1436
MT    1390
PA    1421
PB    1405
PE    1477
PI    1503
PR    1371
RJ    1466
RN    1472
RO    1440
RR    1495
RS    1393
SC    1430
SE    1319
SP    1464
TO    1382
Name: id, dtype: int64

NPS
detrador    19617
neutro      16434
promotor     2703
Name: id, dtype: int64

NPS
detrador    23888.949494
neutro      23952.825095
promotor    23945.035335
Name: Total, dtype: float64

             id         Total
NPS
detrador  19617  23888.949494
neutro    16434  23952.825095
promotor   2703  23945.035335